<h1>Listing posts</h1>

<p>Here are all the posts:.</p>

<ul> 
<% @posts.each do |post| %>
  <li><%= link_to post.title, post %></li>
  <!-- "post_path(post)" can also just be "post" -->
 <% end %>

</ul>

<%= link_to 'New Post', new_post_path %>